/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

div {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

button {
    background-color: #080808;
    color: white;
    font-size: 14px;
    margin-left: 10px;
    padding: 0 25px;
    border-radius: 15px;
}

input, button {
    font-size: 16px;
}

#total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
